.home-about {
  display: flex;
  align-items: center;

  .nav {
    right: 2%;
    top: 2%;
  }

  .menu {
    display: grid;
    place-items: center;
  }

  .container {
    width: 60%;
    margin-left: 10%;
  }

  .intro {
    font-size: 24px;
    line-height: 60px;
  }

  .name,
  .highlight {
    font-size: 1.5em;
    font-weight: bold;
    font-style: italic;
  }

  .highlight {
    font-size: 1.2em;
  }

  .saturn {
    position: absolute;
    right: -10%;
    bottom: -20%;
  }

  @media (max-width: 768px) {
    .intro {
      font-size: 14px;
      line-height: 30px;
    }
  }

  @media (max-width: 500px) {
    justify-content: center;
    .container {
      text-align: center;
      margin: 0;
    }

    .nav {
      display: none;
    }

    .saturn {
      right: 0;
      bottom: 0;
    }
  }
}
